body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

.container-fluid {
  display: flex;
  justify-content: right;
}

.container {
  min-width: 100%;
  min-height: 300px;
  text-align: center;
  padding: 5%;
  margin-bottom: 1%;
  margin-top: 3px;
}

.container h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
}

.img-logo {
  width: 150px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-start;
  width: 50%;
}

.Clinical-section {
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-color: rgb(227, 230, 233);
}

.Clinical-section h1 {
  font-size: 55px;
  padding-top: 70px;
}
.Clinical-section p {
  margin: 40px 0px 50px 0px;
}
.Clinical-section .clinical-email {
  width: 100%;
}
.Clinical-section .clinical-email input {
  background-color: rgb(227, 230, 233);
  margin-right: 30px;
  padding: 20px;
  min-width: 23%;
  border: 1px solid rgb(196, 199, 196);
  border-radius: 8px;
}
.Clinical-section .clinical-email button {
  padding: 20px;
  min-width: 60%;
  border: none;
  border-radius: 40px;
  min-width: 10%;
  color: white;
  background-color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.Clinical-section .clinical-email button:hover {
  background-color: gray;
}
.container111 {
  width: 93%;
}

#Effect-section {
  width: 100%;
  display: block;
}

.Effect-section-main-headline {
  width: 100% !important;
  height: 10% !important;
  margin-left: 56px;
  margin-top: 85px !important;

  display: flex;

  border-radius: 10px;
  height: 330px;
}

.main-headline-left {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-headline-left img {
  min-height: 400px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}

.main-headline-left img:hover {
  cursor: pointer;
  width: 100%;
  transform: scale(1.1);
}

.main-headline-right {
  width: 50%;
  padding: 5%;
  overflow: hidden;
  background-color: #e8e8ea;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.txt1 {
  line-height: 1.6;
  display: flex;
  word-spacing: 7px;
  font-size: 18px;
  color: rgb(2, 1, 1);
  text-align: left;
}

.main-headline-right .txt2 {
  margin-top: 10px;
  color: gray;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.main-headline-right h1 {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  font-size: 29px;
  margin-bottom: 20px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin-left: 58px;
}

.middle-img-safety {
  width: 336px;

  margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px;
}
.middle-img-safety:hover {
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img1 {
  width: 100%;
  background-color: white;
}
.middle-section-h1 {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  width: 351px;
}
.middle-img-Impact {
  width: 336px;
  margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px;
}
.middle-img-Impact:hover {
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img2 {
  width: 100%;
  background-color: white;
}
.txt3 {
  margin-top: 4px;
  font-size: 13px;
  color: rgb(85, 85, 85);
  text-align: left;
  width: 326px;
}
.txt4 {
  margin-top: 18px;
  color: gray;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  width: 291px;
}

#next-page {
  text-align: center;
  margin-top: 20px;
}

#next-page button {
  padding: 8px 20px;
  border: 1px solid rgb(172, 167, 167);
  border-radius: 20px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

#missing-out-headline {
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
}

/* ================card code=================================== */

main {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-left: -100px;
}
.slider {
  width: 83%;
  overflow: hidden;
  display: flex;
  padding: 30px 10px;
  position: relative;
  transition: transform 0.5s ease;
}
.slider .product {
  min-width: 320px;
  min-height: 420px;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}
.slider .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 1s;
  cursor: pointer;
}

.image1 {
  position: relative;
}

.image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: opacity 0.5s ease; 
}

#img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.image1:hover #img2 {
  opacity: 1;
}

.image1:hover #img1 {
  opacity: 0;
}

.slider .product .information {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
.slider .product .information button {
  margin-left: 38px;
  width: 43%;
  height: 50px;
  color: #e8e8e8;
  background: #1a1818;
  border-radius: 100px;
  cursor: pointer;
}
.h4-1 {
  color: rgb(45, 45, 235) !important;
  font-size: 100%;
  font-weight: 700;
}
.h4-2 {
  color: rgb(138, 143, 143);
  text-decoration: line-through;
  font-size: 100%;
  font-weight: 700;
}
.slider .arrow {
  width: 1240px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 40%;
}
.slider .arrow button {
  font: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white;
  margin: 0 20px;
}
.title-text {
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
}

.save {
  background-color: rgb(87, 87, 247);
  margin-left: 10px;
  padding: 5px 6px 5px 6px;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 20px;
}

/* footer */

.ft-sign {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 82px;
}

.sign-h2 {
  font-size: 39px;
  font-weight: 700;
}

.input-email {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;
}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social {
  cursor: pointer;
}

.CONTAINER {
  margin-top: 5%;
  padding: 5%;
  border-top: 1px solid #656060;
  border-bottom: 1px solid #656060;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 10px 20px;
  grid-gap: 50px;
  margin-left: 57px;
    margin-right: 38px;
}

.microbine:hover {
  color: #a5a7a9 !important;
  cursor: pointer;
}

.shop:hover,
.help:hover {
  color: #a5a7a9;
  cursor: pointer;
}
.ft-bottom{
  width: 97%;
}
.ft-p1{
  font-size: 15px;
}
.ft-p2{
  font-size: 15px;
}
.ft-bt-text{
  width: 100%; line-height: 0;
}
/* ----------------------------------------------------------- */
/*  media */


body.custom-cursor {
  cursor: none;
}

#cover {
  position: relative;
}

#custom-cursor-1 {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 1000;
  width: 39px;
  height: 39px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
}




body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

ul {
  padding: 0;
}

#navBarContainer {
  position: fixed;
  top: 0;
  width: 100%;
}

#search-icon {
  display: none;
}

.decode-age-image {
  cursor: pointer;
}

.NAVCONTAINER {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(240, 240, 240, 1);
}

#navbar-icons-container {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  border: none;
}

.icon-btn {
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
}

#nav-contents-container {
  display: none;
}

#nav-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 1.5rem;
  flex-wrap: wrap;
}

#nav-contents span {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: pointer;
}

#nav-contents span:hover {
  color: rgb(139, 139, 139);
}

#sidebar-container {
  max-width: 412px;
  overflow: auto;
  box-sizing: border-box;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 0.75rem;
  border: none;
  border-bottom: 2px solid rgba(26, 26, 26, 0.12);
}

#search-container button {
  border: none;
  background-color: #fff;
}

#search-container input {
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bolder;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#text-clear {
  display: none;
  color: rgba(26, 26, 26, 0.77);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#search-input {
  width: 100%;
  border: none;
}

#search-input::placeholder {
  font-size: 1rem;
  font-weight: bolder;
  color: rgba(26, 26, 26, 0.5);
}

.sidebar,
.search,
.cart {
  height: 93%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow-x: hidden;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 6px;
}

.cart {
  left: unset;
  right: 0;
}

.sidebar.active {
  padding: 1rem;
  box-sizing: border-box;
  width: 412px;
}

#sidebar-1 {
  flex-direction: row;
  align-items: unset;
  box-sizing: border-box;
}

#nav-contents .second-sidebar-links {
  width: 300px;
  justify-content: unset;
  align-items: unset;
  margin-right: auto;
  padding: 2.5rem;
  height: 70%;
}

.second-sidebar-links button {
  margin-bottom: 1rem;
}

.second-sidebar-container-list {
  width: 300px;
  overflow: auto;
  border-left: 1px solid lightgrey;
  padding: 2.5rem;
  padding-block-start: 6rem;
  transition: width 1s ease-in-out;
}

.second-sidebar-container-list li {
  list-style: none;
}

.second-sidebar-container-list li a {
  display: flex;
  flex-direction: row;
  grid: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

#mini-sidebar-1,
#mini-sidebar-2,
#mini-sidebar-3,
#mini-sidebar-4 {
  display: none;
}

.cart.active {
  width: 512px;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
}

.cart-container {
  position: relative;
  margin-block: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.cart-close {
  cursor: pointer;
  border: none;
  background-color: #fff;
  align-self: flex-end;
}

.count-bubble {
  position: absolute;
  top: -14px;
  left: 52%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  line-height: 1;
}

.prose {
  height: 100%;
}

.prose p {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
  margin-block-end: 2rem;
}

.prose a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 3.75rem;
  font-weight: 700;
  line-height: 1.6;
  padding-block-start: 1.075rem;
  padding-block-end: 1.075rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.cover,
.small-cover,
.mini-cover,
.search-cover,
.cart-cover,
.content-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: none;
}

.cover.active,
.small-cover.active,
.mini-cover.active,
.search-cover.active,
.cart-cover.active,
.content-cover.active {
  display: block;
}

.search.active {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  width: 97%;
  box-sizing: border-box;
}

.small-cover,
.mini-cover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn_1 {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #e8e8e8;
}

.sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-links li {
  list-style: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  width: 100%;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.closebtn {
  width: 3rem;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.closebtn:hover {
  cursor: pointer;
}

#custom-cursor-1,
#custom-cursor-2,
#custom-cursor-3,
#custom-cursor-4 {
  width: 2%;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.hover-line {
  position: relative;
  display: inline-block;
  color: #000;
  margin: 0;
}

.hover-line::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0px;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 0;
  opacity: 0;
}

.hover-line:hover::before {
  width: 100%;
  opacity: 1;
}

.hover-links:hover > a:first-child .btn_1 {
  background-color: black;
  color: #fff;
}

.mini-sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mini-sidebar-links li a {
  justify-content: unset;
}

.list-hover-line:hover .hover-line::before {
  width: 100%;
  opacity: 1;
}

.list-hover-line a img {
  min-width: 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1rem;
}

.sidebar-links li:first-child button,
.mini-sidebar-links li:first-child button {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  border: none;
  background-color: #fff;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: rgba(26, 26, 26, 0.7);
  cursor: pointer;
}

.footer-socail-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.25rem;
}

.social-media {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin: 0;
}

.social-media li {
  list-style: none;
  background-color: #000;
  display: flex;
  border-radius: 50%;
}

.social-media li a {
  height: 20px;
  width: 20px;
  padding: 5px;
  color: #fff;
}

.social-media li a svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.account {
  border-top: 1px solid rgba(26, 26, 26, 0.12);
}

.account a {
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 700;
}

h1 {
  color: #333;
  justify-content: center;
  margin: 0;
}

p {
  color: #666;
  margin: 0;
  margin-top: 1.5rem;
}

.shop-button {
  cursor: pointer;
  display: inline-block;
  padding: 1.075rem 2.5rem;
  margin: 0;
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #000000;
}

.shop-button:hover {
  background-color: #1f1e1e;
}

#para_3 {
  font-family: sans-serif;
  color: black;
}

/* /me write the media querey*/

@media (max-width: 700px) and (min-width:600px) {
  .Clinical-section {
    width:252% !important;
    min-height: 490px;
  }
  .Clinical-section .clinical-email input {
    width: 76%;
    margin-bottom: 18px;
  }
  .Clinical-section .clinical-email button {
    width: 76%;
    margin-left: -26px;
  }
  .container {
    margin: 20px;
    margin-top: 30px;
  }
  .container111{
    width: 172% !important;
  }
 
  .middle-section {
  
    margin-top: 128px;
    margin-left: 5%;
  }

  .middle-img-safety {
    width: 192% !important;
  }
  .middle-section-h1 {
    width: 182% !important;
    font-size: 26px;
  }
  .txt3 {
    width: 180%;
    font-size: 17px;
  }
  .txt4 {
    font-size: 17px !important;
  }
  .middle-img-Impact {
    width: 192%;
  }
  .middle-section-h1 {
    width: 182% !important;
    font-size: 26px;
  }
  #missing-out-headline {
    font-size: 37px;
    width: 121%;
  }
  .slider {
    width: 100%;
  }
  .slider .product {
    max-width: 495px !important;
  }
  .SLIDER_CONTAINER {
    margin-left: 10%;
    width: 242%;
  }
  .gonextBtn {
    margin-right: 48% !important;
  }
  .ft-sign {
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .input-email {
    max-width: 688px;
  }
  .social {
    margin-left: 171px;

    font-size: 31px;
  }
  .sign-h2 {
    font-size: 47px;
    margin-left: -43px;
    width: 153%;
    display: flex;
    justify-content: center !important;
  }

  .Email-container {
    width: 100%;
  }
  .input-email {
    width: 222%;
  }
  .footer-bottom {
    width: 211% !important;
  }
  .ft-bt-text {
    font-size: 9px !important;
  }
  .ft-p1 {
    font-size: 9px !important;
  }
  .ft-p2 {
    font-size: 9px !important;
  }
  .CONTAINER {
    padding: 10px !important;
    width:238% !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 210px 1px 200px;
  }
  .footer-img{
    grid-row: 1 / span 2 !important;
  }
  #Effect-section {
    width: 140% !important;
  }
  .container111 {
    width: 122%;
    width: 125%;
    margin-left: -27px;
   
  }
  .ft-bottom {
    font-size: 9px !important;
    width: 133% !important;
  }
  .img-ft {
    grid-row: 1 / span 3;
  }
  .ft-Age {
    width: 100%;
  }
} 
/* @media(width:414px){
  .container111{
    width: 175% !important;
  }
} */

@media(max-width:599px) and (min-width: 313px){
  .Clinical-section {
    width: 370% !important;
    min-height: 490px;
  }
  .Clinical-section .clinical-email input {
    width: 76%;
    margin-bottom: 18px;
  }
  .Clinical-section .clinical-email button {
    width: 76%;
    margin-left: -26px;
  }
  .container {
    margin: 20px;
    margin-top: 30px;
  }
  .container111{
    width: 211% !important;
  }

  /* .container111 .Effect-section {

    width: 157% !important;
  } */

  /* .Effect-section-main-headline {
    display: block;
    width: 158% !important;
  } */

  /* .main-img {
    width: 100% !important;
    border-top-right-radius: 10px;
  }
  .main-headline-left {
    min-height: 150px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .main-headline-right {
    padding: 5%;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    margin-bottom: 35px;
  } */
  .middle-section {
    display: flex;
    margin-top: 128px;
    margin-left: 5%;
    width: 200% !important;
    /* gap: 60%; */
  }

  .middle-img-safety {
    width: 93% !important;
  }
  .middle-section-h1 {
    width: 182% !important;
    font-size: 26px;
  }
  .txt3 {
    width: 100%;
    font-size: 17px;
  }
  .txt4 {
    font-size: 17px !important;
  }
  .middle-img-Impact {
    width: 93%;
  }
  .middle-section-h1 {
    width: 97% !important;
    font-size: 26px;
  }
  #missing-out-headline {
    font-size: 37px;
    width: 312%;
  }
  .slider {
    width: 100%;
  }
  .slider .product {
    min-width: 205px;
  }
  .SLIDER_CONTAINER {
    margin-left: 10%;
    width: 263% !important;
  }
  .gonextBtn {
    margin-right: 34% !important;
  }
  .ft-sign {
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 307% !important;
  }
  .input-email {
    max-width: 480px;
  }
  .social {
    margin-left: 171px;

    font-size: 31px;
  }
  .sign-h2 {
    font-size: 47px;
    margin-left: -43px;
    width: 153%;
    display: flex;
    /* justify-content: center !important; */
  }

  .Email-container {
    width:31% !important;
  }
 
  .footer-bottom {
    width: 295% !important;
  
  }
  .ft-bt-text {
    font-size: 9px !important;
  }
  .ft-p1 {
    font-size: 9px !important;
  }
  .ft-p2 {
    font-size: 9px !important;
  }
  .CONTAINER {
    padding: 10px !important;
    width: 166% !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 210px 1px 200px;
    width: 342% !important;
  }
  .footer-img{
    grid-row: 1 / span 2 !important;
  }
  #Effect-section {
    width: 140% !important;
  }
  .ft-bottom {
    font-size: 9px !important;
    /* width: 133% !important; */
  }
  .img-ft {
    grid-row: 1 / span 3;
  }
  .ft-Age {
    width: 100%;
  }
}
@media(min-width:301px) and (max-width:312px){
  .Clinical-section{
    width:326%;
  }
  .container111{
    width: 288% !important;
  }
  .SLIDER_CONTAINER{
      width: 330% !important;
  }
  .gonextBtn{
    margin-right: 35% !important;
  }
  .ft-sign{
    width: 873px !important;
  }
  .CONTAINER{
    width: 295% !important;
}
.footer-bottom{
  width: 322% !important;
}
}
@media(min-width:701px) and (max-width:950px){
  .Clinical-section {
    width: 145% !important;
  }
  .container111 {
    width: 133% !important;
}
.SLIDER_CONTAINER {
  width: 144% !important;
}
.gonextBtn{
  margin-right: 33% !important;
}
.ft-sign{
  width: 130% !important;
}
.CONTAINER{
  width: 131% !important;

}
.footer-bottom{
  width: 138% !important;
}
.ft-p1 {
  font-size: 14px !important;
}
.ft-p2 {
  font-size: 14px !important;
}


}
/* @media(max-width:300px){
  .Clinical-section{
    width:200% !important;
  }
  .txt4{
    width: 1%;
  }
  .sign-h2{
    width: 120% !important;
  }
}  */
/* @media(min-width:301px) {
  .Clinical-section{
    width: 318% !important;
  }
  .container111 {
    width: 288% !important;
}
.SLIDER_CONTAINER{
  margin-left: -40px;
    width: 355%;
}
} */
/* @media (min-width:320px){
  .Clinical-section{
    width: 318% !important;
  }
  .container111 {
    width: 288% !important;
}
.SLIDER_CONTAINER{
  margin-left: -40px;
    width: 355%;
}
.ft-sign{
  
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 82px;
    width: 308% !important;
}
.CONTAINER {
  margin-top: 5%;
  padding: 5%;
  border-top: 1px solid #656060;
  border-bottom: 1px solid #656060;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 10px 20px;
  grid-gap: 50px;
  margin-left: 57px;
  width: 305%;
  margin-right: 38px;
}
} */

@media (max-width:300px){
  .NAVCONTAINER {
    gap: 0rem;
    padding: 0.5rem;
  }

  .resp-icons {
    display: none;
  }

  #search-icon {
    display: block;
  }

  .Clinical-section{
      width:  399% !important;
      margin-top: -9% !important;
    }
   
  .Clinical-section h1{
     font-size: 81px;
  }
  .Clinical-section p {
    margin: 40px 0px 50px 0px;
    font-size: 23px !important;
  }
  .container111 {
    width: 105% !important;
  }
    .main-headline-right h1 {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      text-align: left;
      font-size: 48px;
      margin-bottom: 20px;
  }
  .main-headline-left img {
    min-height: 400px !important;
    width: 98% !important;
  }
    .main-headline-right{
      width: 98% !important;
    }
    .Effect-section-main-headline{
      display: flex !important;
      flex-wrap: wrap;
    
      width: 340% !important;
        margin-left: 61px;
        margin-top: 45px !important;
    }
    .txt1 {
      line-height: 1.6;
      display: flex;
      word-spacing: 7px;
      font-size: 33px;
    }
    .txt2{
      font-size: 24px !important;
    }
    .middle-section{
      display: block !important;
      margin: 67px;
  }
    .middle-img-safety {
      width: 1070px !important;
    }
    .middle-img-Impact{
      width: 1070px !important;
    }
    .middle-section-h1 {
    font-size: 45px !important;
    width: 292% !important;
    }
    .txt3{
      width: 1072px !important;
      font-size: 38px !important;
    }
    .txt4{
      font-size: 34px !important;
    }
    #missing-out-headline{
      width: 1334px !important;
      font-size: 66px !important;
   }
      .slider .product {
          min-width: 710px !important;
          min-height: 581px !important;
         }
    .slider{
      width: 71% !important;
    }
    .SLIDER_CONTAINER {
      margin-left: 16%;
      width: 342% !important;
      max-height: 781px !important;

  }
    .slider .product img {
      width: 74% !important;
      height: 100% !important;
    }
  
    .gonextBtn{
      margin-right: 45% !important;
    }
    
    .product .img{
      width: 32% !important;
  
    }
    .ft-sign {
      margin-left: 26% !important;
      display: flex !important;
      flex-direction: column !important;
      width: 232% !important;
  }
  .sign-h2{
    font-size: 67px;
    font-weight: 700;
    text-align: center;
  }
    
  .CONTAINER {
    width: 282vh !important;
    height: 142vh !important;
    margin-top: 5%;
    padding: 5%;
    border-top: 1px solid #656060;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 185px 272px 82px;
    grid-gap: 137px !important;
    column-gap: 7px !important;
    margin-right: 38px;
    margin-left: 5px;
  }
   .footer-bottom{
    display: block !important;
          width: 339% !important;
          margin-left: 1px !important;
    
   }
  
   .ft-p1 {
    font-size: 24px !important;
   }
   .ft-p2{
    font-size: 24px !important;
   }
   .ft-p3{
    font-size: 26px;

   }
}
@media(min-width:251px){
  .middle-img-safety {
    /* width: 883px !important; */
}
.middle-img-Impact{
  /* width: 883px !important; */
}
.middle-section-h1{
  /* width: 234% !important; */
  
}
.txt3 {
  /* width: 883px !important; */
}
#missing-out-headline {
  /* width: 1019px !important; */
}
/* .ft-sign{
  width: 355% !important;
}
.input-email{
  width: 850px;
} */
}
/* @media(min-width:301px)and (max-width:3px){
  .Clinical-section {
    width: 334% !important;
  }
  .container111 {
    width: 294% !important;
}
} */

@media(max-width:200px){
  .NAVCONTAINER {
    gap: 0rem;
    padding: 0.5rem;
  }

  .resp-icons {
    display: none;
  }

  #search-icon {
    display: block;
  }

  .Clinical-section{
      width:  399% !important;
      margin-top: -9% !important;
    }
   
  .Clinical-section h1{
     font-size: 81px;
  }
  .Clinical-section p {
    margin: 40px 0px 50px 0px;
    font-size: 23px !important;
  }
  .container111 {
    width: 105% !important;
  }
    .main-headline-right h1 {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      text-align: left;
      font-size: 48px;
      margin-bottom: 20px;
  }
  .main-headline-left img {
    min-height: 400px !important;
    width: 98% !important;
  }
    .main-headline-right{
      width: 98% !important;
    }
    .Effect-section-main-headline{
      display: flex !important;
      flex-wrap: wrap;
    
      width: 268% !important;
        margin-left: 61px;
        margin-top: 45px !important;
    }
    .txt1 {
      line-height: 1.6;
      display: flex;
      word-spacing: 7px;
      font-size: 33px;
    }
    .txt2{
      font-size: 24px !important;
    }
    .middle-section{
      display: block !important;
      margin: 67px;
  }
    .middle-img-safety {
      width: 170% !important;
    }
    .middle-img-Impact{
      width: 170% !important;
    }
    .middle-section-h1 {
    font-size: 45px !important;
    width: 182% !important;
    }
    .txt3{
      width: 678px !important;
      font-size: 38px !important;
    }
    .txt4{
      
      font-size: 34px !important;
    }
    #missing-out-headline{
      width: 845px !important;
      font-size: 48px !important;
   }
      .slider .product {
          min-width: 710px !important;
          min-height: 581px !important;
         }
    .slider{
      width: 101% !important;
    }
    .SLIDER_CONTAINER {
      margin-left: 16%;
      width: 342% !important;
      max-height: 781px !important;

  }
    .slider .product img {
      width: 74% !important;
      height: 100% !important;
    }
  
    .gonextBtn{
      margin-right: 48%!important;

    }
    
    .product .img{
      width: 32% !important;
  
    }
    .ft-sign {
      margin-left: 26% !important;
      display: flex !important;
      flex-direction: column !important;
      width: 338% !important;
    
  }
  .sign-h2{
    font-size: 67px;
    font-weight: 700;
    text-align: center;
  }
  .input-email{
    width: 106% !important;
  }
    
  .CONTAINER {
    width: 217vh !important;
    height: 142vh !important;
    margin-top: 5%;
    padding: 5%;
    border-top: 1px solid #656060;
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 185px 272px 82px;
    grid-gap: 137px !important;
    column-gap: 7px !important;
    margin-right: 38px;
    margin-left: -28px;
  }
   .footer-bottom{
    display: block !important;
          width: 339% !important;
          margin-left: 1px !important;
    
   }
  
   .ft-p1 {
    font-size: 24px !important;
   }
   .ft-p2{
    font-size: 24px !important;
   }
   .ft-p3{
    font-size: 26px;

   }
}


@media (min-width: 1150px) {
  #nav-contents-container {
    display: block;
  }

  .nav-btn {
    display: none;
  }
}

@media (min-width: 500px) and (max-width:570px) {
  .middle-img1{
    width: 615px !important;
  }
  .middle-img2{
    width: 615px !important;
  }

  .CONTAINER {
    width: 298% !important;
  }
  .SLIDER_CONTAINER {
    width: 155%;
}

.gonextBtn{
  margin-right: 429px !important;
}
}


@media (max-width: 1000px) {
  .image,
  .image img {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
   
}

 .footer {
  padding: 40px;
  background-color: #ffffff;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
}

.signup h2 {
  margin-bottom: 10px;
}

.input-div {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-img img {
  max-height: fit-content;
  width: 200px;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#select-list-data {
  width: 235px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

#select-list-data,
#select-list-data .listOption {
  padding: 0;
}

#select-list-data .listOption {
  width: fit-content;
}

#dropDown {
  display: none;
  position: absolute;
  top: -210px;
  left: 10px;
  width: 380px;
  max-height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgb(26, 26, 26/0.1);
  border: 1px solid rgba(26, 26, 26, 0.12);
  overflow: auto;
  padding: 1rem 0;
  z-index: 1;
  box-sizing: border-box;
}

#dropDown.show {
  display: block;
}

.listOption {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  padding: 4px 40px 4px 24px;
  color: rgba(26, 26, 26, 0.7);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  box-sizing: border-box;
}

.listOption:hover {
  text-decoration: none;
  color: #000;
}

.listOption img {
  width: 20px;
}

#dropDown-country-name {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.selectOption {
  width: 180px;
  height: 40px;
  position: relative;
}

.flag-content {
  padding-top: 25px;
}

.selectOption .fa-angle-down {
  position: absolute;
  left: 90%;
}

.arrow .fa-angle-down {
  transform: rotate(-180deg);
}

#getCountry {
  height: 33px;
}

.country_wrap {
  display: flex;
  padding: 10px;
}

.country_wrap box1 {
  width: 30%;
  float: left;
}

.selectOption #data img {
  width: 30px;
  height: 30px;
}

.input-div button {
  margin-left: 90px;
  margin-top: 5px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
}

.footer-column {
  width: 15%;
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column-list li {
  margin-bottom: 10px;
}

.footer-column-list a {
  text-decoration: none;
  color: #1d1d1d;
  opacity: 0.7;
}

.footer-column-list a:hover {
  text-decoration: none;
  color: #000;
}

.social {
  font-size: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



#select-list-data svg {
  transition: transform 0.2s;
}

#dropDown.show ~ #select-list-data svg {
  transform: rotate(180deg);
}
