body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

.container-fluid {
  display: flex;
  justify-content: right;
}

.container {
  min-width: 100%;
  min-height: 300px;
  text-align: center;
  padding: 5%;
  margin-bottom: 1%;
  margin-top: 3px;


}


.block {
  margin: 40px;
  line-height: 40px;
} 

.container h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
}

.img-logo {
  width: 150px;
}

.home-section {
  display: flex-row;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-start;
  width: 50%;
}

.Clinical-section{
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-color: rgb(227,230,233);
}

.Clinical-section h1{
  font-size: 55px;
  padding-top: 70px;
}
.Clinical-section p{
  margin: 40px 0px 50px 0px;
}
.Clinical-section .clinical-email{
  width: 100%;
}
.Clinical-section .clinical-email input{
  background-color: rgb(227, 230, 233);
  ;
  margin-right: 30px;
  padding: 20px;
  min-width: 23%;
  border: 1px solid rgb(196, 199, 196);
  border-radius: 8px;
}
.Clinical-section .clinical-email button {
  padding: 20px;
  min-width: 60%;
  border: none;
  border-radius: 40px;
  min-width: 10%;
  color: white;
  background-color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.Clinical-section .clinical-email button:hover {
  background-color: gray;
}




/* #first-section {
  margin-top: 6%;
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-color: rgb(227, 230, 233);
}


#first-section h1 {

  font-size: 55px;
  padding-top: 70px;
}

#first-section p {
  margin: 40px 0px 50px 0px;
}

#first-section .input-div {
  width: 100%;
}

#first-section .input-div input {
  background-color: rgb(227, 230, 233);
  ;
  margin-right: 30px;
  padding: 20px;
  min-width: 23%;
  border: 1px solid rgb(196, 199, 196);
  border-radius: 8px;
}

#first-section .input-div button {
  padding: 20px;
  min-width: 60%;
  border: none;
  border-radius: 40px;
  min-width: 10%;
  color: white;
  background-color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

#first-section .input-div button:hover {
  background-color: gray;
}
 */

#Effect-section {
  width: 100%;
  display: block;
}


.Effect-section-main-headline {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
  height: 330px;

}

.main-headline-left {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.main-headline-left img {
  min-height: 400px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}

.main-headline-left img:hover {
  cursor: pointer;
  width: 100%;
  transform: scale(1.1);
  
}

.main-headline-right {
  width: 50%;
  padding: 5%;
  overflow: hidden;
  background-color: #e8e8ea;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.txt1 {
  line-height: 1.6;
  display: flex;
  word-spacing: 7px;
  font-size: 18px;
  color: rgb(2, 1, 1);
  text-align: left;
}

.main-headline-right .txt2 {
  margin-top: 10px;
  color: gray;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.main-headline-right h1 {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  font-size: 29px;
  margin-bottom: 20px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin-left: 58px;
}

.middle-img-safety{
  width: 336px;
 
 margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px; 
}
.middle-img-safety:hover{
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(.22,1,.36,1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img1{
  width: 100%;
  background-color: white;
}
.middle-section-h1{
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  width: 351px;

}
.middle-img-Impact{
  width: 336px;
 margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px; 
}
.middle-img-Impact:hover{
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(.22,1,.36,1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img2{
  width: 100%;
  background-color: white;
}
.txt3 {
  margin-top: 4px;
font-size: 13px;
color: rgb(85, 85, 85);
text-align: left;
width: 326px;
}
.txt4{
  margin-top: 18px;
  color: gray;
  font-size:10px;
  font-weight: 500;
  text-align: left;
  width: 291px;
}

 


#next-page {
  text-align: center;
  margin-top: 20px;
}

#next-page button {
  padding: 8px 20px;
  border: 1px solid rgb(172, 167, 167);
  border-radius: 20px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

/* ================================ */

#missing-out-headline {
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
}

/* ================new code=================================== */

main{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.slider{
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 30px 10px;
  position: relative;
  margin-left: 29px;

  transition: transform 0.5s ease; 
}
.slider .product{
  width: 400px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}
.slider .product img{
  width: 400px;
  height: 400px;;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 1s;
}
.slider .product .information{
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
.slider .product .information button{
  margin-left: 38px;
  width: 43%;
    height: 50px;
    color: #e8e8e8;
    background: #1a1818;
    border-radius: 100px;
   cursor: pointer;
}
.h4-1{ 

 color: rgb(45, 45, 235) !important;
/* margin-top: 10px; */
}
.h4-2 {
  color: rgb(138, 143, 143);
  text-decoration: line-through;
} 
.slider .arrow{
  width: 1240px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 40%;
}
.slider .arrow button{
    font: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    margin: 0 20px;
  
} 







.ft-sign {
  /* margin-left: 60px; */

  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 82px;
}

.sign-h2 {
  font-size: 39px;
  font-weight: 700;

}

.input-email {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;

}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}



#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social {
  cursor: pointer;

}

.microbine:hover {
  color: #a5a7a9 !important;
  cursor: pointer;
}


.shop:hover,
.help:hover {
  color: #a5a7a9;
  cursor: pointer;
}
/* ----------------------------------------------------------- */
/* new media */
@media (max-width:600px){
  .Clinical-section{
    width: 129%;
    min-height: 490px;

  }
  .Clinical-section .clinical-email input{
    width:76%;
    margin-bottom: 18px;

  }
  .Clinical-section .clinical-email button{
    width:76%;
    margin-left: -26px;
  }
  .container{
    width: 100%;
    background-color: red;
  }
  /* .container{
    display: grid;
  } */
   
  /* .Effect-section{
    max-width: 100%;
    display: flex;
    
  } */
  /* .main-headline-left{
    width: 100%;
  } */
  .main-img{
    width: 100%!important;
    border-top-right-radius: 10px;

  }

}



/* --------new media ended----------------------------------------------- */

/* 
@media (min-width:600px) {
  .img {
    width: 100%;

  }

  #nav {
    display: block;
  }

  .ft-p {
    font-size: 9px;
  }
}

@media (max-width:1000px) {
  .img {
    width: 100%;

  }

  #nav {
    display: block;
  }

  .footer-bottom {
    width: 100%;
  }

}

@media (max-width:350px) {
  .card {
    margin-left: 1% !important;
    width: 144% !important;

  }

  .border-ft1 {
    width: 144%;

  }

  .border-ft2 {
    width: 144%;

  }

  .ft-sign {
    margin-right: -68%;
    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 22px !important;
    flex-wrap: wrap !important;
  }


} */
/* 
@media (max-width:600px) {
  body {
    width: 103%;
  }

  #Container-navs {
    font-size: 10px !important;
  }

  #first-section {
    padding: 20px;
    margin-bottom: 40px;
  }

  #first-section h1 {
    font-size: 35px;
  }

  #first-section .input-div input {
    padding: 17px;
    margin-bottom: 15px;
    width: 220px;
  }


  #first-section .input-div button {
    min-width: 220px;
    margin-right: 26px;
    margin-bottom: 60px;
  }

  .container {
    margin: 20px;
    margin-top: 30px;
    padding: 0;
    margin-left: 13px;
  }

  .f-img {
    width: 46%;
    margin-left: 42px;
  }

  .ft-bottom {
    font-size: 9px;
    width: 50%;
  }

  .ft-p1 {
    font-size: 7px !important;
    margin-left: -23px;
  }

  .ft-p2 {
    font-size: 7px !important;
    margin-left: -23px;
  }

  .CONTAINER {
    width: 94%;
  }

  .card {
    margin: 39px;
    width: 88%;
    display: flex;
    padding: 14px;
    flex-wrap: nowrap;
  }



  .second-section-main-headline {
    display: block;
    width: 100% !important;
     height: 10% !important; 
     margin-left: -13px; 
    margin-bottom: -168px !important;
  }

  #missing-out-headline {
    font-size: 28px;
  }

  .main-headline-left {
    width: 100%;
    border-top-right-radius: 10px;
  }

  .main-headline-left img {
    min-height: 150px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .main-headline-right {
    padding: 3%;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .main-headline-right h1 {
    font-size: 25px;
  }

  .main-headline-right .txt1 {

    font-size: 18px;
  }

  .third-section {
    display: block;
  }

  .third-section-main-headline {
    margin-top: 40px;
    width: 100%;
  }

  .card-box {
    margin-right: 10px;
    min-width: 407px;
    padding: 0px;
    display: flex;
    flex-direction: column;

  }

  .footer-bottom {
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;


  }



} */
/* @media(min-width:363px) and (max-width:576px){
  .container{
    width: 140%;
  }

} */

/* @media (min-width:286px){

  .first-section{
    width: 185%;
  }


} */


/* @media(min-width:350px) and (max-width:600px) {

  .ft-sign {
    margin-right: 13%;

    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 22px !important;
    flex-wrap: wrap !important;
  }

} */

/* @media(max-width:790px) {
  .ft-sign {
    margin-right: 13%;

    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 75px !important;
    flex-wrap: wrap !important;
  }

} */


/* @media (min-width: 768px) and (max-width: 1240px) {
  #first-section .input-div input {
    width: 280px;
  }


  #first-section .input-div button {
    width: 150px;
  }

  .footer-bottom {
    width: 100%
  }

  .ft-p1 {
    font-size: 13px !important;

  }

  .ft-p2 {
    font-size: 13px !important;

  }

} */

/* @media (min-width:375px) and (max-width:600px) {
  #first-section {
    width: 100% !important;

  }

  .card {
    margin-left: 1px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;

  }

  .card-box {
    min-width: 265px;
  }

  .img-logo {
    width: 45px !important;
    height: 40px !important;
  }

  .nav1 {
    width: 16% !important;

  }

  .img-ft {
    width: 105%;
    height: 65%;
  }
} */

/* @media (width:500px) {
  .img-logo {
    width: 140px !important;
    height: 40px !important;
  }
} */

/* @media (width:1024%) {
  .nav1 {
    font-size: 10px;
    width: 50%;
  }

  .ft-p1 {
    font-size: 13px;

  }

  .card-box {
    min-width: 22%;

  }
} */







/* .............................code.................................. */





body.custom-cursor {
  cursor: none;
}

#cover {
  position: relative;
}

#custom-cursor-1 {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 1000;
  width: 39px;
  height: 39px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
}



@media only screen and (max-width: 600px) {

  #Container-navs {
    width: 100%;
    cursor: pointer;
    font-size: 10px !important;
  }

  #nav {
    font-size: 10px !important;

  }

}


@media (200px < width < 600px) {
  #Container-navs {
    width: 100%;
    cursor: pointer;
    font-size: 10px !important;
  }

  #nav {
    font-size: 10px !important;

  }

  body {
    font-size: 10px !important;
  }

  #IMG_DATA {
    width: 100px;
  }

  #first-section {
    width: 148%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

ul {
  padding: 0;
}

#navBarContainer {
  position: fixed;
  top: 0;
  width: 100%;
}

#search-icon {
  display: none;
}

.decode-age-image {
  cursor: pointer;
}

.NAVCONTAINER {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(240, 240, 240, 1);
}

#navbar-icons-container {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  border: none;
}

.icon-btn {
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
}

#nav-contents-container {
  display: none;
}

#nav-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 1.5rem;
  flex-wrap: wrap;
}

#nav-contents span {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: pointer;
}

#nav-contents span:hover {
  color: rgb(139, 139, 139);
}

#sidebar-container {
  max-width: 412px;
  overflow: auto;
  box-sizing: border-box;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 0.75rem;
  border: none;
  border-bottom: 2px solid rgba(26, 26, 26, 0.12);

}

#search-container button {
  border: none;
  background-color: #fff;
}

#search-container input {
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bolder;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#text-clear {
  display: none;
  color: rgba(26, 26, 26, 0.77);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#search-input {
  width: 100%;
  border: none;
}

#search-input::placeholder {
  font-size: 1rem;
  font-weight: bolder;
  color: rgba(26, 26, 26, 0.5);
}

.sidebar,
.search,
.cart {
  height: 93%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow-x: hidden;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 6px;
}

.cart {
  left: unset;
  right: 0;
}

.sidebar.active {
  padding: 1rem;
  box-sizing: border-box;
  width: 412px;
}

#sidebar-1 {
  flex-direction: row;
  align-items: unset;
  box-sizing: border-box;
}

#nav-contents .second-sidebar-links {
  width: 300px;
  justify-content: unset;
  align-items: unset;
  margin-right: auto;
  padding: 2.5rem;
  height: 70%;
}

.second-sidebar-links button {
  margin-bottom: 1rem;
}

.second-sidebar-container-list {
  width: 300px;
  overflow: auto;
  border-left: 1px solid lightgrey;
  padding: 2.5rem;
  padding-block-start: 6rem;
  transition: width 1s ease-in-out;
}

.second-sidebar-container-list li {
  list-style: none;
}

.second-sidebar-container-list li a {
  display: flex;
  flex-direction: row;
  grid: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

#mini-sidebar-1,
#mini-sidebar-2,
#mini-sidebar-3,
#mini-sidebar-4 {
  display: none;
}

.cart.active {
  width: 512px;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
}

.cart-container {
  position: relative;
  margin-block: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.cart-close {
  cursor: pointer;
  border: none;
  background-color: #fff;
  align-self: flex-end;
}

.count-bubble {
  position: absolute;
  top: -14px;
  left: 52%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  line-height: 1;
}

.prose {
  height: 100%;

}

.prose p {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
  margin-block-end: 2rem;
}

.prose a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 3.75rem;
  font-weight: 700;
  line-height: 1.6;
  padding-block-start: 1.075rem;
  padding-block-end: 1.075rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.cover,
.small-cover,
.mini-cover,
.search-cover,
.cart-cover,
.content-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: none;
}

.cover.active,
.small-cover.active,
.mini-cover.active,
.search-cover.active,
.cart-cover.active,
.content-cover.active {
  display: block;
}

.search.active {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  width: 97%;
  box-sizing: border-box;
}

.small-cover,
.mini-cover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn_1 {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #e8e8e8;
}

.sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-links li {
  list-style: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  width: 100%;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.closebtn {
  width: 3rem;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.closebtn:hover {
  cursor: pointer;
}

#custom-cursor-1,
#custom-cursor-2,
#custom-cursor-3,
#custom-cursor-4 {
  width: 2%;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


.hover-line {
  position: relative;
  display: inline-block;
  color: #000;
  margin: 0;
}

.hover-line::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0px;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 0;
  opacity: 0;
}

.hover-line:hover::before {
  width: 100%;
  opacity: 1;
}

.hover-links:hover>a:first-child .btn_1 {
  background-color: black;
  color: #fff;
}

.mini-sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mini-sidebar-links li a {
  justify-content: unset;
}

.list-hover-line:hover .hover-line::before {
  width: 100%;
  opacity: 1;
}

.list-hover-line a img {
  min-width: 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1rem;
}

.sidebar-links li:first-child button,
.mini-sidebar-links li:first-child button {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  border: none;
  background-color: #fff;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: rgba(26, 26, 26, 0.7);
  cursor: pointer;
}

.footer-socail-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.25rem
}

.social-media {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin: 0;

}

.social-media li {
  list-style: none;
  background-color: #000;
  display: flex;
  border-radius: 50%;
}

.social-media li a {
  height: 20px;
  width: 20px;
  padding: 5px;
  color: #fff;
}

.social-media li a svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.account {
  border-top: 1px solid rgba(26, 26, 26, 0.12);
}

.account a {
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 700;
}

@media (min-width: 1150px) {
  #nav-contents-container {
      display: block;
  }

  .nav-btn {
      display: none;
  }
}

/* Anjish code */
#main-page-content {
  width: 100%;
}

#image-container {
  width: 100%;
}

#mainimage {
  display: block;
  object-fit: cover;
  margin-top: 103px;
  width: 100%;
}

#science-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 56px;
  line-height: 1.1;
  width: 100%;
  margin: 0;
}

/* #card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-start: 1.75rem;
  padding-block-end: 3rem;
  background-color: #f3f3f6;
} */




#view-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#view-container button {
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(36, 34, 34);
  color: white;
}

#view-container button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: #fff;
}

h1 {
  font-size: 70px;
}

.veiwallbutton button {
  order: none;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(4, 2, 2);
  color: white;
}

.product-image img {
  width: 100%;
  height: 100%;
  transition: background-image 0.3s ease-in-out;
}

.container {

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-block-start: 1.75rem;
  padding-block-end: 3rem;
  text-align: left;
  box-sizing: border-box;

}

.text {
  padding: 4rem;
}

.image img {
  height: 450px;
  width: 450px;
  border-radius: 20px;
}

/* Take up remaining space */

h1 {
  color: #333;
  justify-content: center;
  margin: 0;
}

p {
  color: #666;
  margin: 0;
  margin-top: 1.5rem;
}

.shop-button {
  cursor: pointer;
  display: inline-block;
  padding: 1.075rem 2.5rem;
  margin: 0;
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #000000;

}

.shop-button:hover {
  background-color: #1f1e1e;
}

#para_3 {
  font-family: sans-serif;
  color: black;
}



@media (max-width: 400px) {
  .NAVCONTAINER {
      gap: 0rem;
      padding: 0.5rem;
  }

  .resp-icons {
      display: none;
  }

  #search-icon {
      display: block;
  }

}

@media (max-width: 700px) {
  #science-heading {
      font-size: 1.75rem;
  }
}

@media (max-width: 1000px) {

  .image,
  .image img {
      width: 100%;
  }

  .container {
      flex-direction: column;
  }
}
* Footer code */
.footer {
  padding: 40px;
  background-color: #ffffff;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
}

.signup h2 {
  margin-bottom: 10px;
}

.input-div {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
  /* display: contents; */

}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-img img {
  max-height: fit-content;
  width: 200px;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* country flag */
#select-list-data {
  width: 235px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

#select-list-data,
#select-list-data .listOption {
  padding: 0;
}

#select-list-data .listOption {
  width: fit-content;
}

#dropDown {
  display: none;
  position: absolute;
  top: -210px;
  left: 10px;
  width: 380px;
  max-height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgb(26, 26, 26/0.1);
  border: 1px solid rgba(26, 26, 26, 0.12);
  overflow: auto;
  padding: 1rem 0;
  z-index: 1;
  box-sizing: border-box;
}

#dropDown.show {
  display: block;
}

.listOption {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  padding: 4px 40px 4px 24px;
  color: rgba(26, 26, 26, 0.7);
  text-decoration: none;
  transition: color .2s ease-in-out;
  box-sizing: border-box;
}

.listOption:hover {
  text-decoration: none;
  color: #000;
}

.listOption img {
  width: 20px;
}

#dropDown-country-name {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.selectOption {
  width: 180px;
  height: 40px;
  position: relative;
}

.flag-content {
  padding-top: 25px;
}

.selectOption .fa-angle-down {
  position: absolute;
  left: 90%;
}

.arrow .fa-angle-down {
  transform: rotate(-180deg);
}


#getCountry {
  height: 33px;
}

.country_wrap {
  display: flex;
  padding: 10px;
}

.country_wrap box1 {
  width: 30%;
  float: left;
}

.selectOption #data img {
  width: 30px;
  height: 30px;
}

.input-div button {
  margin-left: 90px;
  margin-top: 5px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
}

.footer-column {
  width: 15%;
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column-list li {
  margin-bottom: 10px;
}

.footer-column-list a {
  text-decoration: none;
  color: #1d1d1d;
  opacity: 0.7;
}

.footer-column-list a:hover {
  text-decoration: none;
  color: #000;
}

.social {
  font-size: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Start Media Query */

@media (max-width: 950px) {
  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin: auto;
  }

  .title {
      font-size: 40px;
      padding-bottom: 12px;
  }

  .button {
      padding: 15px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 2px 2px;
      cursor: pointer;
  }
}

/* Media query start */

@media (max-width: 767px) {
  .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 100px;
      margin: auto;
  }

  .title {
      font-size: 30px;
      padding-bottom: 10px;
  }
  .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: first baseline;
      margin-top: 20px;
      margin-bottom: 20px;
  }
}

@media (max-width: 477px) {
  .container {
      display: block;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      margin: auto;
  }

  .title {
      font-size: 25px;
      padding-bottom: 8px;
  }

  .footer-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-content: center;
  }

  .footer {
      padding: 20px;
      background-color: #f9f9f9;
  }

  .footer-column {
      display: block;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 150px;
  }

  .footer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
}

#select-list-data svg {
  transition: transform 0.2s;
}

#dropDown.show~#select-list-data svg {
  transform: rotate(180deg);
}body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

.container-fluid {
  display: flex;
  justify-content: right;
}

.container {
  min-width: 100%;
  min-height: 300px;
  text-align: center;
  padding: 5%;
  margin-bottom: 1%;
  margin-top: 3px;


}


.block {
  margin: 40px;
  line-height: 40px;
} 

.container h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 2px;
  text-align: center;
}

.img-logo {
  width: 150px;
}

.home-section {
  display: flex-row;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-start;
  width: 50%;
}

.Clinical-section{
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-color: rgb(227,230,233);
}

.Clinical-section h1{
  font-size: 55px;
  padding-top: 70px;
}
.Clinical-section p{
  margin: 40px 0px 50px 0px;
}
.Clinical-section .clinical-email{
  width: 100%;
}
.Clinical-section .clinical-email input{
  background-color: rgb(227, 230, 233);
  ;
  margin-right: 30px;
  padding: 20px;
  min-width: 23%;
  border: 1px solid rgb(196, 199, 196);
  border-radius: 8px;
}
.Clinical-section .clinical-email button {
  padding: 20px;
  min-width: 60%;
  border: none;
  border-radius: 40px;
  min-width: 10%;
  color: white;
  background-color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.Clinical-section .clinical-email button:hover {
  background-color: gray;
}




/* #first-section {
  margin-top: 6%;
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-color: rgb(227, 230, 233);
}


#first-section h1 {

  font-size: 55px;
  padding-top: 70px;
}

#first-section p {
  margin: 40px 0px 50px 0px;
}

#first-section .input-div {
  width: 100%;
}

#first-section .input-div input {
  background-color: rgb(227, 230, 233);
  ;
  margin-right: 30px;
  padding: 20px;
  min-width: 23%;
  border: 1px solid rgb(196, 199, 196);
  border-radius: 8px;
}

#first-section .input-div button {
  padding: 20px;
  min-width: 60%;
  border: none;
  border-radius: 40px;
  min-width: 10%;
  color: white;
  background-color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

#first-section .input-div button:hover {
  background-color: gray;
}
 */

#Effect-section {
  width: 100%;
  display: block;
}


.Effect-section-main-headline {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border-radius: 10px;
  height: 330px;

}

.main-headline-left {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.main-headline-left img {
  min-height: 400px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}

.main-headline-left img:hover {
  cursor: pointer;
  width: 100%;
  transform: scale(1.1);
  
}

.main-headline-right {
  width: 50%;
  padding: 5%;
  overflow: hidden;
  background-color: #e8e8ea;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.txt1 {
  line-height: 1.6;
  display: flex;
  word-spacing: 7px;
  font-size: 18px;
  color: rgb(2, 1, 1);
  text-align: left;
}

.main-headline-right .txt2 {
  margin-top: 10px;
  color: gray;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
}

.main-headline-right h1 {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  font-size: 29px;
  margin-bottom: 20px;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin-left: 58px;
}

.middle-img-safety{
  width: 336px;
 
 margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px; 
}
.middle-img-safety:hover{
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(.22,1,.36,1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img1{
  width: 100%;
  background-color: white;
}
.middle-section-h1{
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 600;
  width: 351px;

}
.middle-img-Impact{
  width: 336px;
 margin-right: 8%;
  margin-top: 80px;
  border-radius: 10px; 
}
.middle-img-Impact:hover{
  transform-origin: center;
  transition: transform 1.5s cubic-bezier(.22,1,.36,1);
  cursor: pointer;
  transform: scale(1.1);
}
.middle-headline-img2{
  width: 100%;
  background-color: white;
}
.txt3 {
  margin-top: 4px;
font-size: 13px;
color: rgb(85, 85, 85);
text-align: left;
width: 326px;
}
.txt4{
  margin-top: 18px;
  color: gray;
  font-size:10px;
  font-weight: 500;
  text-align: left;
  width: 291px;
}

 


#next-page {
  text-align: center;
  margin-top: 20px;
}

#next-page button {
  padding: 8px 20px;
  border: 1px solid rgb(172, 167, 167);
  border-radius: 20px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

/* ================================ */

#missing-out-headline {
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
}

/* ================new code=================================== */

main{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.slider{
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 30px 10px;
  position: relative;
  transition: transform 0.5s ease; 
}
.slider .product{
  width: 400px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}
.slider .product img{
  width: 400px;
  height: 400px;;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: 1s;
}
.slider .product .information{
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
.slider .product .information button{
  margin-left: 38px;
  width: 43%;
    height: 50px;
    color: #e8e8e8;
    background: #1a1818;
    border-radius: 100px;
   cursor: pointer;
}
.h4-1{ 

 color: rgb(45, 45, 235) !important;
/* margin-top: 10px; */
}
.h4-2 {
  color: rgb(138, 143, 143);
  text-decoration: line-through;
} 
.slider .arrow{
  width: 1240px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 40%;
}
.slider .arrow button{
    font: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    margin: 0 20px;
  
} 







.ft-sign {
  /* margin-left: 60px; */

  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 82px;
}

.sign-h2 {
  font-size: 39px;
  font-weight: 700;

}

.input-email {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
  justify-content: flex-end;

}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}



#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social {
  cursor: pointer;

}

.microbine:hover {
  color: #a5a7a9 !important;
  cursor: pointer;
}


.shop:hover,
.help:hover {
  color: #a5a7a9;
  cursor: pointer;
}
/* ----------------------------------------------------------- */
/* new media */
@media (max-width:600px){
  .Clinical-section{
    width: 129%;
    min-height: 490px;

  }
  .Clinical-section .clinical-email input{
    width:76%;
    margin-bottom: 18px;

  }
  .Clinical-section .clinical-email button{
    width:76%;
    margin-left: -26px;
  }
  .container{
    width: 100%;
    background-color: red;
  }
  /* .container{
    display: grid;
  } */
   
  /* .Effect-section{
    max-width: 100%;
    display: flex;
    
  } */
  /* .main-headline-left{
    width: 100%;
  } */
  .main-img{
    width: 100%!important;
    border-top-right-radius: 10px;

  }

}



/* --------new media ended----------------------------------------------- */

/* 
@media (min-width:600px) {
  .img {
    width: 100%;

  }

  #nav {
    display: block;
  }

  .ft-p {
    font-size: 9px;
  }
}

@media (max-width:1000px) {
  .img {
    width: 100%;

  }

  #nav {
    display: block;
  }

  .footer-bottom {
    width: 100%;
  }

}

@media (max-width:350px) {
  .card {
    margin-left: 1% !important;
    width: 144% !important;

  }

  .border-ft1 {
    width: 144%;

  }

  .border-ft2 {
    width: 144%;

  }

  .ft-sign {
    margin-right: -68%;
    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 22px !important;
    flex-wrap: wrap !important;
  }


} */
/* 
@media (max-width:600px) {
  body {
    width: 103%;
  }

  #Container-navs {
    font-size: 10px !important;
  }

  #first-section {
    padding: 20px;
    margin-bottom: 40px;
  }

  #first-section h1 {
    font-size: 35px;
  }

  #first-section .input-div input {
    padding: 17px;
    margin-bottom: 15px;
    width: 220px;
  }


  #first-section .input-div button {
    min-width: 220px;
    margin-right: 26px;
    margin-bottom: 60px;
  }

  .container {
    margin: 20px;
    margin-top: 30px;
    padding: 0;
    margin-left: 13px;
  }

  .f-img {
    width: 46%;
    margin-left: 42px;
  }

  .ft-bottom {
    font-size: 9px;
    width: 50%;
  }

  .ft-p1 {
    font-size: 7px !important;
    margin-left: -23px;
  }

  .ft-p2 {
    font-size: 7px !important;
    margin-left: -23px;
  }

  .CONTAINER {
    width: 94%;
  }

  .card {
    margin: 39px;
    width: 88%;
    display: flex;
    padding: 14px;
    flex-wrap: nowrap;
  }



  .second-section-main-headline {
    display: block;
    width: 100% !important;
     height: 10% !important; 
     margin-left: -13px; 
    margin-bottom: -168px !important;
  }

  #missing-out-headline {
    font-size: 28px;
  }

  .main-headline-left {
    width: 100%;
    border-top-right-radius: 10px;
  }

  .main-headline-left img {
    min-height: 150px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .main-headline-right {
    padding: 3%;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .main-headline-right h1 {
    font-size: 25px;
  }

  .main-headline-right .txt1 {

    font-size: 18px;
  }

  .third-section {
    display: block;
  }

  .third-section-main-headline {
    margin-top: 40px;
    width: 100%;
  }

  .card-box {
    margin-right: 10px;
    min-width: 407px;
    padding: 0px;
    display: flex;
    flex-direction: column;

  }

  .footer-bottom {
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;


  }



} */
/* @media(min-width:363px) and (max-width:576px){
  .container{
    width: 140%;
  }

} */

/* @media (min-width:286px){

  .first-section{
    width: 185%;
  }


} */


/* @media(min-width:350px) and (max-width:600px) {

  .ft-sign {
    margin-right: 13%;

    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 22px !important;
    flex-wrap: wrap !important;
  }

} */

/* @media(max-width:790px) {
  .ft-sign {
    margin-right: 13%;

    text-align: center;
    justify-content: center;

    display: flex;
    margin-left: 75px !important;
    flex-wrap: wrap !important;
  }

} */


/* @media (min-width: 768px) and (max-width: 1240px) {
  #first-section .input-div input {
    width: 280px;
  }


  #first-section .input-div button {
    width: 150px;
  }

  .footer-bottom {
    width: 100%
  }

  .ft-p1 {
    font-size: 13px !important;

  }

  .ft-p2 {
    font-size: 13px !important;

  }

} */

/* @media (min-width:375px) and (max-width:600px) {
  #first-section {
    width: 100% !important;

  }

  .card {
    margin-left: 1px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;

  }

  .card-box {
    min-width: 265px;
  }

  .img-logo {
    width: 45px !important;
    height: 40px !important;
  }

  .nav1 {
    width: 16% !important;

  }

  .img-ft {
    width: 105%;
    height: 65%;
  }
} */

/* @media (width:500px) {
  .img-logo {
    width: 140px !important;
    height: 40px !important;
  }
} */

/* @media (width:1024%) {
  .nav1 {
    font-size: 10px;
    width: 50%;
  }

  .ft-p1 {
    font-size: 13px;

  }

  .card-box {
    min-width: 22%;

  }
} */







/* .............................code.................................. */





body.custom-cursor {
  cursor: none;
}

#cover {
  position: relative;
}

#custom-cursor-1 {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 1000;
  width: 39px;
  height: 39px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
}



@media only screen and (max-width: 600px) {

  #Container-navs {
    width: 100%;
    cursor: pointer;
    font-size: 10px !important;
  }

  #nav {
    font-size: 10px !important;

  }

}


@media (200px < width < 600px) {
  #Container-navs {
    width: 100%;
    cursor: pointer;
    font-size: 10px !important;
  }

  #nav {
    font-size: 10px !important;

  }

  body {
    font-size: 10px !important;
  }

  #IMG_DATA {
    width: 100px;
  }

  #first-section {
    width: 148%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  user-select: none;
}

ul {
  padding: 0;
}

#navBarContainer {
  position: fixed;
  top: 0;
  width: 100%;
}

#search-icon {
  display: none;
}

.decode-age-image {
  cursor: pointer;
}

.NAVCONTAINER {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(240, 240, 240, 1);
}

#navbar-icons-container {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  border: none;
}

.icon-btn {
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding: 0;
}

#nav-contents-container {
  display: none;
}

#nav-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 1.5rem;
  flex-wrap: wrap;
}

#nav-contents span {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: pointer;
}

#nav-contents span:hover {
  color: rgb(139, 139, 139);
}

#sidebar-container {
  max-width: 412px;
  overflow: auto;
  box-sizing: border-box;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 0.75rem;
  border: none;
  border-bottom: 2px solid rgba(26, 26, 26, 0.12);

}

#search-container button {
  border: none;
  background-color: #fff;
}

#search-container input {
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: bolder;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#text-clear {
  display: none;
  color: rgba(26, 26, 26, 0.77);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#search-input {
  width: 100%;
  border: none;
}

#search-input::placeholder {
  font-size: 1rem;
  font-weight: bolder;
  color: rgba(26, 26, 26, 0.5);
}

.sidebar,
.search,
.cart {
  height: 93%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow-x: hidden;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 6px;
}

.cart {
  left: unset;
  right: 0;
}

.sidebar.active {
  padding: 1rem;
  box-sizing: border-box;
  width: 412px;
}

#sidebar-1 {
  flex-direction: row;
  align-items: unset;
  box-sizing: border-box;
}

#nav-contents .second-sidebar-links {
  width: 300px;
  justify-content: unset;
  align-items: unset;
  margin-right: auto;
  padding: 2.5rem;
  height: 70%;
}

.second-sidebar-links button {
  margin-bottom: 1rem;
}

.second-sidebar-container-list {
  width: 300px;
  overflow: auto;
  border-left: 1px solid lightgrey;
  padding: 2.5rem;
  padding-block-start: 6rem;
  transition: width 1s ease-in-out;
}

.second-sidebar-container-list li {
  list-style: none;
}

.second-sidebar-container-list li a {
  display: flex;
  flex-direction: row;
  grid: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

#mini-sidebar-1,
#mini-sidebar-2,
#mini-sidebar-3,
#mini-sidebar-4 {
  display: none;
}

.cart.active {
  width: 512px;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
}

.cart-container {
  position: relative;
  margin-block: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.cart-close {
  cursor: pointer;
  border: none;
  background-color: #fff;
  align-self: flex-end;
}

.count-bubble {
  position: absolute;
  top: -14px;
  left: 52%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  font-weight: 700;
  line-height: 1;
}

.prose {
  height: 100%;

}

.prose p {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
  margin-block-end: 2rem;
}

.prose a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 3.75rem;
  font-weight: 700;
  line-height: 1.6;
  padding-block-start: 1.075rem;
  padding-block-end: 1.075rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 2.5rem;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.cover,
.small-cover,
.mini-cover,
.search-cover,
.cart-cover,
.content-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: none;
}

.cover.active,
.small-cover.active,
.mini-cover.active,
.search-cover.active,
.cart-cover.active,
.content-cover.active {
  display: block;
}

.search.active {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  width: 97%;
  box-sizing: border-box;
}

.small-cover,
.mini-cover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn_1 {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #e8e8e8;
}

.sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-links li {
  list-style: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  width: 100%;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.closebtn {
  width: 3rem;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.closebtn:hover {
  cursor: pointer;
}

#custom-cursor-1,
#custom-cursor-2,
#custom-cursor-3,
#custom-cursor-4 {
  width: 2%;
  min-height: 3rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


.hover-line {
  position: relative;
  display: inline-block;
  color: #000;
  margin: 0;
}

.hover-line::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0px;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 0;
  opacity: 0;
}

.hover-line:hover::before {
  width: 100%;
  opacity: 1;
}

.hover-links:hover>a:first-child .btn_1 {
  background-color: black;
  color: #fff;
}

.mini-sidebar-links {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mini-sidebar-links li a {
  justify-content: unset;
}

.list-hover-line:hover .hover-line::before {
  width: 100%;
  opacity: 1;
}

.list-hover-line a img {
  min-width: 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1rem;
}

.sidebar-links li:first-child button,
.mini-sidebar-links li:first-child button {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  border: none;
  background-color: #fff;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: rgba(26, 26, 26, 0.7);
  cursor: pointer;
}

.footer-socail-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.25rem
}

.social-media {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin: 0;

}

.social-media li {
  list-style: none;
  background-color: #000;
  display: flex;
  border-radius: 50%;
}

.social-media li a {
  height: 20px;
  width: 20px;
  padding: 5px;
  color: #fff;
}

.social-media li a svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.account {
  border-top: 1px solid rgba(26, 26, 26, 0.12);
}

.account a {
  color: #000;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 700;
}

@media (min-width: 1150px) {
  #nav-contents-container {
      display: block;
  }

  .nav-btn {
      display: none;
  }
}

/* Anjish code */
#main-page-content {
  width: 100%;
}

#image-container {
  width: 100%;
}

#mainimage {
  display: block;
  object-fit: cover;
  margin-top: 103px;
  width: 100%;
}

#science-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 56px;
  line-height: 1.1;
  width: 100%;
  margin: 0;
}

/* #card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block-start: 1.75rem;
  padding-block-end: 3rem;
  background-color: #f3f3f6;
} */

.bold {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  line-height: 1.5rem;
}

#fourth-section {
  width: 100%;
}



.rating {
  display: inline-flex;
  color: #7d7d7d;
  border: 1px solid rgba(223, 223, 223, 12);
  border-radius: 58px;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 500;
  gap: 0.125rem;
  text-decoration: none;
}

.h4-1 {
  color: rgb(12, 12, 14);
  margin-top: 10px;
}

.h4-2 {
  color: rgb(138, 143, 143);
  text-decoration: line-through;
}

#view-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#view-container button {
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(36, 34, 34);
  color: white;
}

#view-container button a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: #fff;
}

h1 {
  font-size: 70px;
}

.veiwallbutton button {
  order: none;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(4, 2, 2);
  color: white;
}

.product-image img {
  width: 100%;
  height: 100%;
  transition: background-image 0.3s ease-in-out;
}

.container {

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-block-start: 1.75rem;
  padding-block-end: 3rem;
  text-align: left;
  box-sizing: border-box;

}

.text {
  padding: 4rem;
}

.image img {
  height: 450px;
  width: 450px;
  border-radius: 20px;
}

/* Take up remaining space */

h1 {
  color: #333;
  justify-content: center;
  margin: 0;
}

p {
  color: #666;
  margin: 0;
  margin-top: 1.5rem;
}

.shop-button {
  cursor: pointer;
  display: inline-block;
  padding: 1.075rem 2.5rem;
  margin: 0;
  margin-top: 2rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #000000;

}

.shop-button:hover {
  background-color: #1f1e1e;
}

#para_3 {
  font-family: sans-serif;
  color: black;
}



@media (max-width: 400px) {
  .NAVCONTAINER {
      gap: 0rem;
      padding: 0.5rem;
  }

  .resp-icons {
      display: none;
  }

  #search-icon {
      display: block;
  }

}

@media (max-width: 700px) {
  #science-heading {
      font-size: 1.75rem;
  }
}

@media (max-width: 1000px) {

  .image,
  .image img {
      width: 100%;
  }

  .container {
      flex-direction: column;
  }
}
* Footer code */
.footer {
  padding: 40px;
  background-color: #ffffff;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
}

.signup h2 {
  margin-bottom: 10px;
}

.input-div {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  height: 70px;
  width: 350px;
  max-width: 450px;
  padding: 5px 2px;
  box-sizing: border-box;
  position: relative;
  /* display: contents; */

}

#email-field {
  display: block;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 10;
}

#Email-label {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 2px;
  font-size: 18px;
  color: #777;
  transition: bottom 0.3s;
}

#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 16px;
  font-weight: 400;
  color: red;
}

.btn1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-img img {
  max-height: fit-content;
  width: 200px;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* country flag */
#select-list-data {
  width: 235px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

#select-list-data,
#select-list-data .listOption {
  padding: 0;
}

#select-list-data .listOption {
  width: fit-content;
}

#dropDown {
  display: none;
  position: absolute;
  top: -210px;
  left: 10px;
  width: 380px;
  max-height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgb(26, 26, 26/0.1);
  border: 1px solid rgba(26, 26, 26, 0.12);
  overflow: auto;
  padding: 1rem 0;
  z-index: 1;
  box-sizing: border-box;
}

#dropDown.show {
  display: block;
}

.listOption {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  padding: 4px 40px 4px 24px;
  color: rgba(26, 26, 26, 0.7);
  text-decoration: none;
  transition: color .2s ease-in-out;
  box-sizing: border-box;
}

.listOption:hover {
  text-decoration: none;
  color: #000;
}

.listOption img {
  width: 20px;
}

#dropDown-country-name {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.selectOption {
  width: 180px;
  height: 40px;
  position: relative;
}

.flag-content {
  padding-top: 25px;
}

.selectOption .fa-angle-down {
  position: absolute;
  left: 90%;
}

.arrow .fa-angle-down {
  transform: rotate(-180deg);
}


#getCountry {
  height: 33px;
}

.country_wrap {
  display: flex;
  padding: 10px;
}

.country_wrap box1 {
  width: 30%;
  float: left;
}

.selectOption #data img {
  width: 30px;
  height: 30px;
}

.input-div button {
  margin-left: 90px;
  margin-top: 5px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
}

.footer-column {
  width: 15%;
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column-list li {
  margin-bottom: 10px;
}

.footer-column-list a {
  text-decoration: none;
  color: #1d1d1d;
  opacity: 0.7;
}

.footer-column-list a:hover {
  text-decoration: none;
  color: #000;
}

.social {
  font-size: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Start Media Query */

@media (max-width: 950px) {
  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin: auto;
  }

  .title {
      font-size: 40px;
      padding-bottom: 12px;
  }

  .button {
      padding: 15px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 2px 2px;
      cursor: pointer;
  }
}

/* Media query start */

@media (max-width: 767px) {
  .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 100px;
      margin: auto;
  }

  .title {
      font-size: 30px;
      padding-bottom: 10px;
  }
  .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: first baseline;
      margin-top: 20px;
      margin-bottom: 20px;
  }
}

@media (max-width: 477px) {
  .container {
      display: block;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      margin: auto;
  }

  .title {
      font-size: 25px;
      padding-bottom: 8px;
  }

  .footer-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-content: center;
  }

  .footer {
      padding: 20px;
      background-color: #f9f9f9;
  }

  .footer-column {
      display: block;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 150px;
  }

  .footer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
}

#select-list-data svg {
  transition: transform 0.2s;
}

#dropDown.show~#select-list-data svg {
  transform: rotate(180deg);
}